* {
  margin: 0%;
}

body {
  background-color: var(--surface);
  color: var(--on-surface);
}

/*Organization*/
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* NAV */
nav {
  background-color: var(--surface);
  color: var(--on-surface);
  border-bottom: 1px solid var(--outline);
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.85rem 1.5rem;
  box-sizing: border-box;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: flex;
  align-items: center;
}

nav a {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  transition: opacity 0.2s ease;
}

nav a:hover {
  opacity: 0.8;
  text-decoration: underline;
}

/* --- BUTTON --- */
button {
  color: var(--on-surface);
  background-color: var(--surface-container-highest);
  padding: 0.5rem 1rem;

  border-radius: 0.5rem;
  border-style: outset;
  border-color: var(--outline-variant);
}

button:not(:disabled):hover {
  cursor: pointer;
  background-color: color-mix(
    in srgb,
    var(--surface) 24%,
    var(--surface-container-highest)
  );
  border-color: color-mix(in srgb, var(--surface) 24%, var(--outline-variant));
}

button:not(:disabled):active {
  border-style: inset;
  background-color: color-mix(
    in srgb,
    var(--on-surface) 4%,
    var(--surface-container-highest)
  );
  border-color: color-mix(
    in srgb,
    var(--on-surface) 4%,
    var(--outline-variant)
  );
}

button:disabled {
  cursor: not-allowed;
  border-style: solid;
  opacity: 0.5;
}

button.elevated {
  border: none;
  background-color: var(--surface-container-low);
  color: var(--primary);
  box-shadow:
    0 1px 2px 0 rgb(from var(--shadow) r g b / 0.4),
    0 3px 6px 0 rgb(from var(--shadow) r g b / 0.25);
  transition:
    box-shadow 0.2s cubic-bezier(0.2, 0, 0, 1),
    transform 0.15s cubic-bezier(0.2, 0, 0, 1);
}

button.elevated:not(:disabled):hover {
  border: none;
  background-color: color-mix(
    in srgb,
    var(--primary) 15%,
    var(--surface-container-low)
  );
  box-shadow:
    0 2px 4px 0 rgb(from var(--shadow) r g b / 0.45),
    0 5px 12px 0 rgb(from var(--shadow) r g b / 0.35);
}

button.elevated:not(:disabled):active {
  border: none;
  box-shadow: 0 1px 2px 0 rgb(from var(--shadow) r g b / 0.5);
  background-color: color-mix(
    in srgb,
    var(--primary) 30%,
    var(--surface-container-low)
  );
  transition-duration: 0.05s;
}

button.filled {
  border: none;
  background-color: var(--primary);

  color: var(--on-primary);
}

button.filled:not(:disabled):hover {
  border: none;
  background-color: color-mix(in srgb, var(--on-primary) 15%, var(--primary));
}

button.filled:not(:disabled):active {
  border: none;
  background-color: color-mix(in srgb, var(--on-primary) 30%, var(--primary));
}

button.tonal {
  border: none;
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
}

button.tonal:not(:disabled):hover {
  border: none;
  background-color: color-mix(
    in srgb,
    var(--primary) 15%,
    var(--secondary-container)
  );
}

button.tonal:not(:disabled):active {
  border: none;
  background-color: color-mix(
    in srgb,
    var(--primary) 30%,
    var(--secondary-container)
  );
}

button.outlined {
  border: 1px solid var(--outline);
  background-color: var(--surface);
  color: var(--primary);
}

button.outlined:not(:disabled):hover {
  border: 1px solid color-mix(in srgb, var(--primary) 15%, var(--outline));
  background-color: color-mix(in srgb, var(--primary) 15%, var(--surface));
}

button.outlined:not(:disabled):active {
  border: 1px solid color-mix(in srgb, var(--primary) 30%, var(--outline));
  background-color: color-mix(in srgb, var(--primary) 30%, var(--surface));
}

button.text {
  border: none;
  background-color: transparent;
  color: var(--primary);
}

button.text:not(:disabled):hover {
  border: none;
  background-color: color-mix(in srgb, var(--primary) 15%, transparent);
}

button.text:not(:disabled):active {
  border: none;
  background-color: color-mix(in srgb, var(--primary) 30%, transparent);
}

button.elevated:disabled,
button.filled:disabled,
button.tonal:disabled {
  background-color: color-mix(var(--primary) 5%, var(--secondary-container));
  color: color-mix(in srgb, var(--primary) 25%, var(--outline));
  box-shadow: none;
}

button.outlined:disabled {
  border-color: color-mix(var(--primary) 10%, var(--outline));
  color: color-mix(var(--primary) 25%, var(--outline));
}

button.text:disabled {
  color: color-mix(in srgb, var(--primary) 25%, var(--outline));
}

/* --- INPUT --- */
.input {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 0.5rem;
}

.input input {
  background-color: transparent;
  border-color: transparent;
  color: var(--on-surface);
  font-weight: 400;
}

.input input::placeholder {
  color: var(--outline);
}

.input input:focus {
  outline: none;
}

.input label {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
  padding: 0rem 0.25rem;
  pointer-events: none;
  transition: 0.2s ease;
}

.input.prefix label {
  left: 1.5rem;
}

.input input:valid + label,
.input input:focus + label,
.input input:placeholder-shown + label {
  top: 0;
  left: 0.5rem;
  transform: translateY(-50%) scale(0.8);
}

.input input:focus + label {
  color: var(--primary);
}

.input:has(input:focus) {
  border-color: var(--primary);
}

.input.outlined {
  background-color: var(--surface);
  border: 1px solid var(--outline);
}

.input.outlined label {
  background-color: var(--surface);
  border-radius: 0.5rem;
}

.input.underlined {
  border-end-start-radius: 0px;
  border-end-end-radius: 0px;
  border-bottom: 1px solid var(--outline);
}

.input.filled {
  background-color: var(--surface-container-highest);
  border-bottom: 1px solid var(--outline);
  border-radius: 0.5rem 0.5rem 0 0;
}

.input.filled:has(input:focus) {
  background-color: color-mix(
    in srgb,
    var(--primary) 2%,
    var(--surface-container-highest)
  );
}

.input.underlined input,
.input.filled input {
  transform: translateY(0.3rem);
}

.input.underlined input:valid + label,
.input.underlined input:focus + label,
.input.underlined input:placeholder-shown + label,
.input.filled input:valid + label,
.input.filled input:focus + label,
.input.filled input:placeholder-shown + label {
  top: 0;
  left: 0.5rem;
  transform: translateY(-10%) scale(0.8);
}

.input.underlined.prefix input:valid + label,
.input.underlined.prefix input:focus + label,
.input.underlined.prefix input:placeholder-shown + label,
.input.filled.prefix input:valid + label,
.input.filled.prefix input:focus + label,
.input.filled.prefix input:placeholder-shown + label {
  left: 1.5rem;
}

/* --- SWITCH --- */
.switch {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  user-select: none;
}

.switch input {
  display: none;
}

.switch .track {
  width: 2.75rem;
  height: 1.5rem;
  border-radius: 1rem;
  border: 2px solid var(--outline);
  background-color: var(--surface-container-highest);
  position: relative;
  transition: all 0.2s ease;
  display: inline-block;
}

.switch .track::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0.2rem;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--outline);
  transition: all 0.2s cubic-bezier(0.2, 0, 0, 1);
}

.switch .track i {
  position: absolute;
  top: 50%;
  left: 0.2rem;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  font-size: 0.75rem;
  color: var(--surface-container-highest);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 1;
  transition: all 0.2s cubic-bezier(0.2, 0, 0, 1);
}

.switch .track i:last-child:not(:only-child) {
  opacity: 0;
}

.switch input:checked + .track {
  background-color: var(--primary);
  border-color: var(--primary);
}

.switch input:checked + .track::after,
.switch input:checked + .track i {
  left: 1.35rem;
  width: 1.15rem;
  height: 1.15rem;
}

.switch input:checked + .track::after {
  background-color: var(--on-primary);
}

.switch input:checked + .track i {
  color: var(--primary);
}

.switch input:checked + .track i:first-child:not(:only-child) {
  opacity: 0;
}

.switch input:checked + .track i:last-child:not(:only-child) {
  opacity: 1;
}

.switch:has(input:disabled) {
  cursor: not-allowed;
  opacity: 0.38; /* Estándar MD3 para elementos deshabilitados */
}

.switch input:disabled + .track {
  pointer-events: none;
  background-color: var(--surface-container-highest);
  border-color: var(--outline-variant);
}

.switch input:disabled + .track::after {
  background-color: var(--outline);
}

.switch input:disabled + .track i {
  color: var(--surface-container-highest);
}

/* Disabled + Checked */
.switch input:disabled:checked + .track {
  background-color: var(--on-surface-variant);
  border-color: var(--on-surface-variant);
}

.switch input:disabled:checked + .track::after {
  background-color: var(--surface-container-highest);
}

.switch input:disabled:checked + .track i {
  color: var(--on-surface-variant);
}

/* --- CHECKBOX --- */
.checkbox {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  user-select: none;
}

.checkbox input[type="checkbox"],
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0.25rem;
  margin: 0;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
}

.checkbox input[type="checkbox"]::after,
input[type="checkbox"]::after {
  content: "";
  position: absolute;
  top: 45%;
  left: 50%;
  width: 0.3rem;
  height: 0.6rem;
  border: solid transparent;
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: border-color 0.1s ease;
}

.checkbox.filled input[type="checkbox"],
input[type="checkbox"].filled {
  border: 2px solid var(--on-surface);
  background-color: transparent;
}

.checkbox.filled input[type="checkbox"]:checked,
input[type="checkbox"].filled:checked {
  background-color: var(--primary);
  border-color: var(--primary);
}

.checkbox.filled input[type="checkbox"]:checked::after,
input[type="checkbox"].filled:checked::after {
  border-color: var(--on-primary);
}

.checkbox.outlined input[type="checkbox"],
input[type="checkbox"].outlined {
  border: 2px solid var(--on-surface);
  background-color: transparent;
}

.checkbox.outlined input[type="checkbox"]:checked,
input[type="checkbox"].outlined:checked {
  border-color: var(--primary);
  background-color: transparent;
}

.checkbox.outlined input[type="checkbox"]:checked::after,
input[type="checkbox"].outlined:checked::after {
  border-color: var(--primary);
}

/* --- CARDS ---*/
.card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.75rem;
  color: var(--on-surface);
  box-sizing: border-box;
}

.card.elevated {
  background-color: var(--surface-container-low);
  box-shadow:
    0 1px 2px 0 rgb(from var(--shadow) r g b / 0.4),
    0 3px 6px 0 rgb(from var(--shadow) r g b / 0.25);
}

.card.filled {
  background-color: var(--surface-container);
}

.card.outlined {
  color: var(--on-surface);
  background-color: var(--surface);
  border: 1px solid var(--outline);
}
