@mixin set {
  [cha-row],
  [cha-col] {
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
  }

  [cha-row] {
    flex-direction: row;
  }

  [cha-col] {
    flex-direction: column;
  }

  [cha-stack] > [cha-center],
  [cha-center] {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    justify-self: center;
    align-self: center;
  }

  [cha-stack] > [cha-place="top-left"] {
    align-self: start;
    justify-self: start;
  }
  [cha-stack] > [cha-place="top-right"] {
    align-self: start;
    justify-self: end;
  }
  [cha-stack] > [cha-place="bottom-left"] {
    align-self: end;
    justify-self: start;
  }
  [cha-stack] > [cha-place="bottom-right"] {
    align-self: end;
    justify-self: end;
  }
  [cha-stack] > [cha-place="top-center"] {
    align-self: start;
    justify-self: center;
  }
  [cha-stack] > [cha-place="bottom-center"] {
    align-self: end;
    justify-self: center;
  }

  [cha-center] {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0%;
    min-width: 0;
    min-height: 0;
    box-sizing: border-box;
  }

  [cha-center] > * {
    flex: 0 0 auto;
  }

  [cha-expanded] {
    flex: 1 1 0%;
  }

  [cha-wrap] {
    flex-wrap: wrap;
  }

  [cha-justify="start"] {
    justify-content: flex-start;
  }
  [cha-justify="center"] {
    justify-content: center;
  }
  [cha-justify="end"] {
    justify-content: flex-end;
  }
  [cha-justify="between"] {
    justify-content: space-between;
  }
  [cha-justify="around"] {
    justify-content: space-around;
  }
  [cha-justify="evenly"] {
    justify-content: space-evenly;
  }

  [cha-align="start"] {
    align-items: flex-start;
  }
  [cha-align="center"] {
    align-items: center;
  }
  [cha-align="end"] {
    align-items: flex-end;
  }
  [cha-align="stretch"] {
    align-items: stretch;
  }
  [cha-align="baseline"] {
    align-items: baseline;
  }
}
