h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5em;
  color: var(--on-surface);
  font-weight: 400;
}

h1 {
  font-size: var(--headline-lg);
  line-height: var(--lh-headline);
  letter-spacing: -0.015em;
}

h2 {
  font-size: var(--headline-md);
  line-height: var(--lh-headline);
}

h3 {
  font-size: var(--headline-sm);
  line-height: var(--lh-headline);
}

h4 {
  font-size: var(--title-lg);
  line-height: var(--lh-title);
  font-weight: 500;
}

h5 {
  font-size: var(--title-md);
  line-height: var(--lh-title);
  font-weight: 500;
}

h6 {
  font-size: var(--title-sm);
  line-height: var(--lh-title);
  font-weight: 500;
}

/* ==========================================================================
   BASE FORM CONTROLS & BUTTONS
   ========================================================================== */
input,
textarea,
select {
  background-color: transparent;
  color: var(--on-surface);
  border-style: solid;
  border-width: 1px;
  border-color: var(--on-surface);
  border-radius: var(--cha-input-rad);
  padding: var(--cha-space-2xs);
}

button,
select,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"],
input[type="checkbox"],
input[type="radio"],
input[type="color"],
label[for] {
  cursor: pointer;
}

input[type="range"] {
  cursor: grab;
}

input[type="range"]:active {
  cursor: grabbing;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  position: relative;
  border: none;
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: var(--cha-button-rad);
  font: inherit;
  box-sizing: border-box;
}

button:disabled,
input:disabled {
  cursor: not-allowed;
  opacity: 0.38;
}

button {
  overflow: hidden;
  isolation: isolate;
}

button::before {
  content: "";
  color: inherit;
  position: absolute;
  inset: 0;
  background-color: currentColor;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

button:not(:disabled):hover::before {
  opacity: 0.12;
}
button:not(:disabled):active::before {
  opacity: 0.24;
}

input[type="button"]:not(:disabled):hover,
input[type="submit"]:not(:disabled):hover,
input[type="reset"]:not(:disabled):hover {
  filter: brightness(1.1);
}

input[type="button"]:not(:disabled):active,
input[type="submit"]:not(:disabled):active,
input[type="reset"]:not(:disabled):active {
  filter: brightness(0.9);
}
