@use "sass:map";
@use "../def/font-size";
@use "../def/color";

@mixin set {
  [cha-field] {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    height: fit-content;
    &:focus-within label {
      color: #{color.get("primary", "var")};
    }

    textarea {
      resize: none;
      field-sizing: content;
    }
  }

  [cha-field] label {
    user-select: none;
    pointer-events: none;
  }
}
